.parent{
    display: flex;
    align-items: center;

}

.section_left{

    /* display: flex; */
    align-items: center;
    border: 1px solid #333;
    min-height: 100%;
    
}
.section_left_part{
display: flex;
align-items: center;

}

.section_left_part:nth-child(1){
   border-bottom: 1px solid black;
   margin-bottom: 20px;
}

.section_left_image{

width: 100%;
height: 180px;


}

.section_left_text{
    display: inline-block;
    width: 150px;
}
.section_right{
 

}

.section_right_title{
text-align: center;
margin-right: 80px;
font-size: 70px;
}

.section_right_image{
    display: flex;
    flex-wrap: wrap;  
    padding-left: 70px;
   
}


.section_right_image_title{

    width: 150px;
    margin-left: 90px;
    font-size: 15px;
}

.section_right_image_img{
    width: 290px;
    height: 100px;

  
}

.section_right_image_qroup{
 padding: 0 10px;


}

.section_right_image_img{
 height: 300px;
  height: 300px;
   }